.Footer {
  position: relative;
  /* background: radial-gradient(rgba(105, 57, 2, 0.582), rgba(82, 76, 76, 0.39));*/
  background-color: rgba(168, 139, 106, 0.5);
  width: 70%;
  text-align: center;
  margin: auto;
  height: 3em;
  bottom: 39px;
}

.Footer-First {
  font-size: 0.8em;

  color: rgb(32, 28, 6);
  position: relative;
  left: 400px;
  border-right: 2px solid rgba(170, 119, 85, 0.411);
  width: 20%;
}

.Footer-Second {
  font-size: 0.8em;
  color: rgb(0, 0, 0);
  position: relative;
  bottom: 40px;
  left: 250px;
}
.gg-instagram {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  transform: scale(var(--ggs, 1));
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  right: 390px;
  top: 10px;

  color: rgba(3, 0, 3, 0.87);
}
.gg-instagram::after,
.gg-instagram::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-instagram::after {
  border: 2px solid;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 3px;
}
.gg-instagram::before {
  border-radius: 3px;
  width: 2px;
  height: 2px;
  background: currentColor;
  right: 1px;
  top: 1px;
}
.gg-facebook {
  box-sizing: border-box;
  position: absolute;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  right: 360px;
  top: 10px;
  color: rgba(1, 2, 8, 0.74);
}

.gg-facebook::after,
.gg-facebook::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}

.gg-facebook::before {
  width: 8px;
  height: 20px;
  border-left: 4px solid;
  border-top: 4px solid;
  border-top-left-radius: 5px;
  left: 6px;
}

.gg-facebook::after {
  width: 10px;
  height: 4px;
  background: currentColor;
  top: 7px;
  left: 4px;
  transform: skew(-5deg);
}
.gg-youtube {
  box-sizing: border-box;
  position: absolute;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 150px;
  height: 28px;
  box-shadow: 0 0 0 2px;
  border-radius: 15px 15px 15px 15px / 45px 45px 45px 45px;
  right: 330px;
  top: 5.5px;
  color: rgba(236, 231, 199, 0.411);
}

.gg-youtube::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 7px;
  top: 7px;
  border-left: 5px solid currentColor;
  border-top: 6px solid transparent;
  border-bottom: 5px solid transparent;
}
.gg-twitter {
  box-sizing: border-box;
  position: absolute;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  right: 330px;
  top: 10px;
  color: rgba(0, 1, 2, 0.808);
}

.gg-twitter::after,
.gg-twitter::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: 4px;
}

.gg-twitter::before {
  width: 9px;
  height: 14px;
  border-left: 4px solid;
  border-bottom: 4px solid;
  border-bottom-left-radius: 6px;
  background: linear-gradient(to left, currentColor 12px, transparent 0)
    no-repeat center 2px/10px 4px;
  top: 4px;
}

.gg-twitter::after {
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 20px;
  top: 2px;
  box-shadow: 7px 4px 0, 7px 12px 0;
}

.Footer-Icons {
  position: relative;
  top: 3px;

  right: 150px;
}
