.NavContainer {
  display: flex;
  justify-content: space-between;
  width: 85%;
  text-align: center;
  margin: auto;
  position: relative;
  top: -40px;
  right: 35px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(252, 182, 32, 0.397)
  );
  border-radius: 4px;
}
.NavContainer a:first-child {
  font-family: "Old London", sans-serif;
  font-family: "Old London Alternate", sans-serif;
  font-size: 1.4em;

  position: relative;
  bottom: 85px;
  color: rgb(0, 0, 0);

  right: 20px;
}

.NavContainer a:first-child:hover {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.13));
  border-top: 1px ridge rgb(228, 138, 4);
  color: rgb(190, 142, 9);
  transition: 0.8s;
}

.NavContainer span {
  width: 5em;
}

.NavContainer a {
  color: rgb(0, 0, 0);
  /* border-bottom: 2px outset rgb(185, 79, 8);*/
  padding: 0px 4px 2px 0px;
  text-decoration: none;
  position: relative;
  right: 60px;
}
.NavContainer a:hover {
  /* background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.247) 85%,
    rgba(252, 182, 32, 0.397) 10%
  );
  */
}
.NavContainer a::first-letter {
  font-size: 1.3em;
}
.NavContainer a:first-child:first-letter {
  font-size: 1.2em;
}

.NavContainer a:hover {
  color: rgba(141, 72, 22, 0.699);
  border-radius: 4px;
  border-bottom: 2.9px inset rgba(221, 93, 7, 0.226);
  transform: scale(1.03);
  transition: 0.1s;
}
.NavContainer a:focus {
  background-color: rgba(245, 245, 245, 0.096);
}
.logo {
  display: inline-block;
  position: relative;
  left: 32.3em;
  top: 1em;
  z-index: 1;
  border-radius: 100%;
}

.logo img {
  border-radius: 60%;
  height: 8em;
  width: 190px;
  box-shadow: 0px 4px 40px 0px rgba(255, 176, 4, 0.795);
}
@media screen and (max-width: 740px) {
  .logo img {
    position: relative;
    right: 350px;
  }
  .NavContainer a {
    font-size: 0.8em;
    justify-content: space-around;
  }
  .NavContainer {
    left: 0;

    top: 20px;
  }
}
x .NavBar-father > p {
  font-family: "Roboto", sans-serif;
  background-color: rgba(153, 106, 4, 0.164);
  width: 97%;
  text-align: center;
  margin: auto;
  border-radius: 50px 50px 0px 0px;
  height: 1em;
}
