.App-Container {
  width: 100%;
}
.Container {
  position: relative;
  top: 20px;
  border-radius: 50px 50px 0px 0px;
  width: 70%;
  background-color: rgba(128, 91, 10, 0.068);
  margin: auto;
  height: 120vh;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 1);
}
